<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>
    <!--    container for metadata(is not displayed)
    Title, Styles,Link,Scripts,-->
</head>
<body>
Welcome to ---------developer course

<h1> SPRING BOOT</h1>
<h2> SPRING BOOT</h2>
<h3> SPRING BOOT</h3>

<h1 align="center" style="color:blue">Spring Framework</h1>
<img src="springboot.png" alt="no image">

<ul>
    <li tag="square">MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<table>
    <tr>
        <td> HTML</td>
    </tr>
    <tr>
        <td> CSS</td>
    </tr>
    <tr>
        <td> ORACLE</td>
    </tr>

    </tr>
</table>

<a href="http://www.google.com">GOOGLE</a>


</body>
</html>