<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mentor-List Page</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Gender</td>
        <td>Age</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mentor : ${mentors}">
        <td th:text="${mentor.id}"></td>
        <td th:text="${mentor.firstName}"></td>
        <td th:text="${mentor.lastName}"></td>
        <td th:text="${mentor.gender}"></td>
        <td th:text="${mentor.age}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>